{% macro PaymentCheck(props) %}
    {% import 'scarfinity/template/components/currency.twig' as currency %}

    <div class="payments-check">
        <span class="payments-check__title">Итого</span>
        {{ currency.currency(
            { 'price': props.total, 'special': 0, 'subTitle': '' }, 
            { 'fontSize': 26, 'fontWeight': 600 }) 
        }}
    </div>

{% endmacro %}

{% macro BottomNavigation(props) %}
    {% import _self as _ %}

    <div class="cart__bottom-navigation{{props.orderTotal ? ' check' : ''}}"}>
        <div class="cart__bottom-navigation__left">
            <a href="#"}>
                <div class="cart__button-prev">Вернуться к покупкам</div>
            </a>
        </div>
        <div class="cart__bottom-navigation__check">
            {% if props.orderTotal > 0 %}
                {{ _.PaymentCheck({total: props.orderTotal}) }}
            {% endif %}
        </div>
        <div class="cart__bottom-navigation__right">
            <a href="#">
                <div class="cart__button-next">Доставка</div>
            </a>
        </div>
    </div>    
{% endmacro %}