{% macro Payments(props) %}
    {% import 'scarfinity/template/components/cart/radio-box-group.twig' as _radioBoxGroup %}
    {% import 'scarfinity/template/components/utility/select-box.twig' as _selectBox %}

    <div class="payments">
        <div class="requisites-row">
            <div class="requisites-row__left">
                <span class="requisites-title">Способ <b>оплаты</b></span>
                    {{ 
                        _radioBoxGroup.RadioBoxGroup({
                            title: 'Выберите способ',
                            name: 'paymentMethodId',
                            items: [
                                { price: 1200, title: 'Платежный адрес совпадает с адресом доставки' }, 
                                { price: 1900, title: 'Платежный адрес совпадает с адресом доставки' }]
                        }) 
                    }}
            </div>
            <div class="requisites-row__middle requisites-row__middle--delim"></div>
            <div class="requisites-row__right">
                <span class="requisites-title"><b>Платежный </b>адрес</span>
                {{ 
                    _selectBox.CheckBox({
                        label: 'Платежный адрес совпадает с адресом доставки',
                        checked: true,
                        disabled: true
                    })
                }}
            </div>
        </div>
    </div>    
{% endmacro %}

