{% macro Requisites() %}
    {% import 'scarfinity/template/components/cart/price-calculation.twig' as priceCalculation %}
    {% import 'scarfinity/template/components/cart/radio-box-group.twig' as radioBoxGroup %}
    {% import 'scarfinity/template/components/utility/basic-input.twig' as basicInput %}

    <form class="requisites">
        <div class="requisites-row">
            <div class="requisites-row__left">
                <span class="requisites-title"><b>Адрес </b>доставки</span>
                <div id="cart-checkout-requisites-shipping" class="row"></div>
                <div id="cart-checkout-requisites-shipping-method"></div>
            </div>
            <div class="requisites-row__middle requisites-row__middle--delim"></div>
            <div class="requisites-row__right">
                <span class="requisites-title"><b>Контактная </b>информация</span>
                <div id="cart-checkout-requisites-login"></div>
                {{ priceCalculation.priceCalculation({ productsTotal: 0, deliveryTotal: 0 }) }}
            </div>
        </div>
    </form>
    
{% endmacro %}