{% if not logged %}
  {% 
    set links = [
      { 'text': text_login, 'href': login },
      { 'text': text_register, 'href': register },
      { 'text': text_forgotten, 'href': forgotten },
      { 'text': text_account, 'href': account },
    ] 
  %}
{% else %}
  {% 
    set links = [
      { 'text': text_account, 'href': account },
      { 'text': text_edit, 'href': edit },
      { 'text': text_password, 'href': password },
      { 'text': text_address, 'href': address },
      { 'text': text_wishlist, 'href': wishlist },
      { 'text': text_order, 'href': order },
      { 'text': text_download, 'href': download },
      { 'text': text_recurring, 'href': recurring },
      { 'text': text_reward, 'href': reward },
      { 'text': text_return, 'href': return },
      { 'text': text_transaction, 'href': transaction },
      { 'text': text_newsletter, 'href': newsletter },
      { 'text': text_logout, 'href': logout },
    ] 
  %}
{% endif %}

<div class="personal-menu">
  <div class="personal-menu__header">
      <div class="personal-menu__button">
          <a to={this.props.settings || '/'}>
              <IconButton style={styles.button} iconStyle={styles.icon}>
                  <Settings />
              </IconButton>
          </a>
      </div>
      <div class="personal-menu__avatar"></div>
      <div class="personal-menu__button">
          <a to={this.props.logout || '/'}>
              <IconButton style={styles.button} iconStyle={styles.icon}>
                  <ExitToApp />
              </IconButton>
          </a>
      </div>
  </div>
  <div class="personal-menu__body">
      <ul>
        {% for link in links %}
          <li>
            <a href="{{ link.href }}">{{ link.text }}</a>
            {# <Badge value={link.badge} /> #}
          </li>
        {% endfor %}
      </ul>
  </div>
</div>