{% import 'scarfinity/template/components/category-product-card.twig' as categoryProductCard %}

<h3>{{ heading_title }} - {{ name|split('-')[0] }}</h3>
<div class="row">
 {% for product in products %}
  <div class="product-card-catalog-container product-card-catalog-container--catalog">
    {{ categoryProductCard.categoryProductCard(product, { 'buttonLabel': button_cart }) }}
  </div>
  {% endfor %}
</div>


