{% import 'scarfinity/template/components/product-card/product-card-list-card.twig' as _productCardListCard %}
{% import 'scarfinity/template/components/utility/special-offer.twig' as _specialOffer %}

{% if layout == 'block' %}
  {{ _specialOffer.SpecialOffer({ products: products }) }}
{% else %}

  <h3>{{ heading_title }}</h3>
  <div class="row ss-product-card-list ss-col-four" id="catalog-product-card-list">
    {% for product in products %}
        {{ _productCardListCard.productCardListCard(product) }}
    {% endfor %}
</div>
{% endif %}
