{% import 'scarfinity/template/components/utility/select-box.twig' as _selectBox %}
{% import 'scarfinity/template/components/utility/basic-input.twig' as _basicInput %}

{% if error_warning %}
  <div class="alert alert-warning alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
{% endif %}
{% if payment_methods %}
  <span class="requisites-title">Способ <b>оплаты</b></span>
  <div class="radio-box-group" data-name="payment_methods">
    <span class="radio-box-group__title">{{ text_payment_method }}</span>
      {% for payment_method in payment_methods %}
        <div class="radio-box-group__item">
            {{
                _selectBox.Radio({
                  group: 'payment_method',
                  name: 'payment_method',
                  value: payment_method.code,
                  label: payment_method.title ~ ' ' ~ payment_method.terms
                })
            }}
        </div>
      {% endfor %}
  </div>
{% endif %}

<script type="text/javascript">
    var code = '{{code}}';
    console.log('CODE: ', code);
    /*$('.select-box input[type="radio"][name$="payment_method"]').each(function() {
        if(code == '') {
          code = $(this).val();
          $(this).attr('checked', 'checked').prop("checked", true).change();
        } else {
          if($(this).val() == code) {
              $(this).attr('checked', 'checked').prop("checked", true).change();
          }
        }
    });*/

    if(code != '') {
      $('.select-box input[type="radio"][name$="payment_method"]').each(function() {
        if($(this).val() == code) {
          $(this).attr('checked', 'checked').prop("checked", true).change();
        }
      });
    }
</script>
