{% import 'scarfinity/template/components/review.twig' as _review %}


{% if reviews %}
  <div class="review-container-list">
      {% for review in reviews %}
        <div class="review-container-list__item">
          {{ _review.Review({ review: review }) }}
        </div>
      {% endfor %}
      <div class="review-container-list__bottom-navigation">
{#           {
              props.pagesCount > 0 &&
              <Pagination
                  onIndexChange={props.onIndexChange}
                  pagesCount={props.pagesCount}
                  currentPage={props.currentPage}
                  onClick={props.onIndexChange}/>
          } #}
          {{ pagination }}
      </div>
  </div>
{% else %}
    <div class="review-container-noreviews">
        <div class="review-container-noreviews__text">
            {{ text_no_reviews }}
        </div>
        <a
          onclick="$('a[href=\'#reviews-container-leave-review\']').trigger('click');"
          class="review-container-noreviews__link">Написать отзыв</a>
    </div>
{% endif %}