{% macro LatestHome(props) %}
    {% import 'scarfinity/template/components/product-card/product-card-list-card.twig' as _productCardListCard %}

    <h3>{{ props.heading_title }}</h3>

    <div class="row ss-product-card-list ss-col-three" id="catalog-product-card-list">
        {% for product in props.products %}
            {{ _productCardListCard.productCardListCard(product) }}
        {% endfor %}
    </div>
{% endmacro %}

{% macro Latest(props) %}
    {% import _self as _ %}
    {% if props.name|lower == 'home' %} {{ _.LatestHome(props.data) }}
    {% endif %}
{% endmacro %}