.s-content {
    display: flex;
    padding: 0px 15px;

    &__left {
        min-width: 210px;
        max-width: 210px;
        width: 210px;
        flex: 0 0 210px;
        margin-right: 15px;
        position: relative;
    }

    &__middle {
        max-width: calc(~'100% - 210px - 15px');
        flex: 1 1;
        position: relative;

        &--white {
            background: white;
            padding: 10px 30px 40px 30px;
            border-radius: 2px;
            box-shadow: rgba(0,0,0,.1) 0 1px 1px;
        }
    }

    @media screen and (max-width: 768px) {
        padding: 0px 7px;

        &__left {
            display: none;
        }

        &__middle {
            max-width: 100%;
        }
    }
}