{% macro categoryProductCard(product) %}

    {% import 'scarfinity/template/components/image-container.twig' as imageContainer %}
    {% import 'scarfinity/template/components/rating-box.twig' as ratingBox %}

    <div class="product-card-catalog">
        <div class="product-card-catalog__image">
            <div class="product-card-catalog__image__image">
                {{ imageContainer.imageContainer(product.thumb) }}
            </div>
            <a 
                href="#"
                class="product-card-catalog__image__info">
                <span>Цвета:</span>
            </a>
        </div>

        <div class="product-card-catalog__rating">
            {{ ratingBox.ratingBox(product.rating) }}
        </div>

        <div class="product-card-catalog__description">
            <span class="product-card-catalog__title">{{ product.name }}</span>
            <div class="product-card-catalog-footer">
                <div class="product-card-catalog-footer__price">
                    currency: 1000
                </div>
                <div class="product-card-catalog-footer__button">
                    button
                </div>
            </div>
        </div>
        <div class="product-card-catalog__ribbon">{ribbon}</div>
    </div>
{% endmacro %}