{% macro imageContainer(props) %}
    <div class="image-container init">
    	<div class="image-container__dummy"></div>
        <div class="image-container__container">
            {% if props.src %}
                <img src="{{props.src}}" alt="{{props.alt}}" name="{{props.name}}"/>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro Init(props) %}
    <script type="text/javascript">
        $('.image-container').removeClass('init');
    </script>
{% endmacro %}