{% macro PriceRange(props) %}
    {% import 'scarfinity/template/components/utility/basic-input.twig' as _basicInput  %}

    {% set id = 1 %}

    <div class="price-range-widget" id="price-range-widget[{{id}}]">
        <div class="price-range-widget__titles">
            <span class="price-range-widget__titles__value">10</span>
            <span class="price-range-widget__titles__value">3000</span>
        </div>
        <div id="price-range[{{id}}]"></div>
        <div class="price-range-widget__body">
            {{ 
                _basicInput.basicInput({
                    value: '0',
                    name: 'pmin',
                    group: 'price_original',
                    type: 'number',
                    placeholder: ''
                })
            }}
            <i class="fa fa-exchange" aria-hidden="true"></i>
            {{ 
                _basicInput.basicInput({
                    value: '0',
                    name: 'pmax',
                    group: 'price_original',
                    type: 'number',
                    placeholder: ''
                })
            }}
        </div>
    </div>

{% endmacro %}