{% macro SortBy(props) %}
    <div class="sort-by-line">
        {# {% for item in items %}
            <label>
                <input type="radio" name="" value="{{item.value}}" />
                <span>{{item.title}}</span>
            </label>
        {% endfor %} #}
    </div>
{% endmacro %}