//- Colors --------------------
    @input__basic__border:             #d7d7d7; 
    @input__basic-background:          #ffffff;   
    @input__basic-disabled-border:     #eeeeee;  
    @input__basic-disabled-background: #f9f9f9;

    @input__search-delim:               #d7d7d7;
    @input__search-options-background:  #ffffff;
    @input__search-background:         #f9f9f9;

    @input__success:                   #1bb869;
    @input__warning:                   #ef8742;   
    @input__error:                     #e05543;
    @input__active:                    #2799c9;

    @input__dropdown-bg-iddle:          #f9f9f9;
    @input__dropdown-bg-active:         #ffffff;
    @input__dropdown-bg-static:         #f9f9f9;
    @input__dropdown-br:                #d7d7d7;
    @input__dropdown-br-disabled:       #eeeeee;
//- ---------------------------

.sInput {
    display: inline-block;
    width: 100%;
    padding: 11px 15px;
    margin: 5px 0;
    box-sizing: border-box;

    border-radius: 2px;
    border: 1px solid @input__basic__border;
    outline: none;

    transition: border 0.4s ease;

    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;

    background-color: @input__basic-background;
    background-size: 18px 100%;
    background-position: right 10px top 0px;
    background-repeat: no-repeat;

    &:focus {
        border-color: @input__active;
    }

    &--success {
        background-image: url('./icons/checked.svg');
        &:focus { border-color: @input__success }
    }

    &--error {
        background-image: url('./icons/error.svg');
        &:focus { border-color: @input__error }
    }

    &--search {
        background-image: url('./icons/search.svg');
        &:focus { border-color: @input__active }
    }

    &:disabled {
        background-color: @input__basic-disabled-background;
        border-color: @input__basic-disabled-border;
    }
}